body{
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.Login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;

}

.Noaccount-box{
    width: 260px;
    height: 80px;
    margin: auto;
    border-radius: 1px;
    background-color: darkgreen;
    
    
}

.Fortnite{
    width: 300px;
    height: 50px;
    margin: auto;
    border-radius: 1px;
    background-color: aqua;

}

h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2{
    text-align: center;
    color: rgb(0, 255, 13);
    font-size: 30px;
    margin-top: 500px;
}
.para-2 a{
    color: #e7e409;
}




